<header>
    <app-navbar title="galeria">

    </app-navbar>
</header>

<div class="row mt-4">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary" [routerLink]="['/upload-photo']">Publicar Foto</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4" *ngFor="let photo of photos">
        <div class="card">
            <div class="card-header">
                <img class="card-user-img" src="./assets/user-avatar3.png">
                <strong class="text-username">{{ photo.album.user.name }}</strong>
            </div>
            <img class="img-fluid" [src]="'http://localhost:3000/' + photo.path" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">{{ photo.title }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ photo.createdAt }}</small>
            </div>
        </div>
    </div>
</div>

